@page
@model HRADWebReporting.Pages.Home.SharesModel
@{
    ViewData["Title"] = "Serverdata-shares";
}


<div class="row">
    <div class="col-3 right-align">
        <span style="font-size:18px;font-weight:500;color:teal" multiple="true">Share: </span>
        <select id="polje1" multiple="multiple">
        </select>
    </div>
    <div class="col-3 m3 right-align">
        <span style="font-size: 18px; font-weight: 500; color: teal">Korisnik:</span>
        <select id="polje2" multiple="multiple"></select>
    </div>
    <div class="col-3 m3 right-align">
        <span style="font-size: 18px; font-weight: 500; color: teal">Organizacioni oblik:</span>
        <select id="polje3" multiple="multiple"></select>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table table-bordered table-hover" id="myTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Share Name</th>
                    <th scope="col">Ime i prezime</th>
                    <th scope="col">Korisnicko ime</th>
                    <th scope="col">File System Rigths</th>
                    <th scope="col">Organizaciona Jedinica</th>
                    <th scope="col">Organizacioni Oblik</th>
                    <th scope="col">Radno Mjesto</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var g in Model.shares)


                {
                    <tr>
                        <td>@g.ShareName</td>
                        <td>@g.User.ime @g.User.prezime</td>
                        <td>@g.UserName</td>
                        <td>@g.FilePermissions</td>
                        <td>@g.User.OrganizacionaJedinica</td>
                        <td>@g.User.OrganizacioniOblik</td>
                        <td>@g.User.RadnoMjesto</td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>



@section Scripts {

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

    <script>

        $(document).ready(function () {

            var table = $('#myTable').DataTable({
                dom: 'Bflrtip',
                "lengthMenu": [[20, 100, 50, -1], [20, 100, 50, "All"]],
                dom: "<'row'<'col-4 myLabel'l><'col-5 myButtons'B><'col-3'f>>" +
                    "<'row'<'col-12'tr>>" +
                    "<'row'<'col-4'i><'col-8'p>>",
                /* buttons: ['excel', 'csv'],*/

                buttons: {
                    buttons: [
                        { extend: 'csv', className: 'btn btn-info' },
                        { extend: 'excel', className: 'btn btn-success' }
                    ],
                    dom: {
                        button: {
                            className: 'btn'
                        }
                    }
                },

                "pagingType": "full_numbers",
                initComplete: function () {

                    this.api().columns([0]).every(function () {
                        var column = this;
                        console.log(column);
                        var select = $("#polje1");
                        nesto = column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                    this.api().columns([1]).every(function () {
                        var column = this;
                        console.log(column);
                        var select = $("#polje2");
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                    this.api().columns([5]).every(function () {
                        var column = this;
                        console.log(column);
                        var select = $("#polje3");
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });

                    $("#polje1,#polje2,#polje3").formSelect();


                }
            });

            $('#polje1').on('change', function () {
                var search = [];

                $.each($('#polje1 option:selected'), function () {
                    search.push($(this).val());
                });
                search = search.join('|');
                table.column(0).search("^" + search, true, false, true).draw();

            });

            $('#polje2').on('change', function () {
                var search = [];

                $.each($('#polje2 option:selected'), function () {
                    search.push($(this).val());
                });

                search = search.join('|');
                table.column(1).search(search, true, false, true).draw();
            });

            $('#polje3').on('change', function () {
                var search = [];

                $.each($('#polje3 option:selected'), function () {
                    search.push($(this).val());
                });

                search = search.join('|');
                table.column(5).search(search, true, false, true).draw();
            });
        });

    </script>
}